model/preprocess/assets/*
venv/
server/metadata
server/pdfs
server/keypoints
server/results
server/voting_table
server/test_file

__pycache__/

*.pdf
*.csv
*.json
*.pth
!*config.json

server/scalers/
server/*cache*/
server/wandb/