model/preprocess/assets/*
.venv/
server/metadata
server/videos
server/keypoints
server/results
server/voting_table
server/test_file

__pycache__/

*.mp4
*.csv
*.json
*.pth
!*config.json

server/scalers/
server/*cache*/
server/wandb/