model/preprocess/assets/*
venv/
server/metadata
server/pdfs
server/recordings
server/scripts
server/keypoints
server/results
server/voting_table
server/test_file
server/info.log
server/images
server/tocs
server/bboxs
server/lasso
server/spms
server/crops
server/annotations
server/logging_config.yaml

__pycache__/

.DS_Store
server/.DS_Store

*.pdf
*.csv
*.json
*.pth
*.webm
*.mp3
*.txt
*.png
*.log
*.jpg
!*config.json

server/scalers/
server/*cache*/
server/wandb/
server/.venv

server/.env
client/.env