fastapi==0.104.1
joblib==1.3.2
json_tricks==3.17.3
matplotlib==3.7.2
# mmcv==2.0.1
# mmdet==3.1.0
# mmengine==0.8.4
# mmpose.egg==info
# mmpose
numpy==1.25.2
opencv_python==4.8.0.76
pandas==2.0.3
parmap==1.6.0
scikit_learn==1.3.0
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.2
wandb==0.15.8

## mm 계열은 설치시 주의
## https://mmpose.readthedocs.io/en/latest/installation.html 참고해서 순서대로 할것